<form [formGroup]="docForm" (ngSubmit)="submit()">
  <div>
    <label for="Name">Name: </label>
    <input id="Name" type="text" formControlName="Name">
  </div>

  <div>
    <label for="Extension">Extension: </label>
    <input id="Extension" type="text" formControlName="Extension">
  </div>

  <div>
    <label for="Contents">Contents: </label>
    <input id="Contents" type="file" formControlName="Contents" (change)="fileChange($event)">
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!docForm.valid">
      Save
    </button>
  </div>
</form>
