body {
  color: #9ab8c5;
  background-color: #323232;
  padding: 10rem;
}

input {
  color: inherit;
  background-color: inherit;
}

button {
  padding: 10px;
  font-size: 16px;
  color: inherit;
  margin: 2rem;
  background-color: inherit;
  cursor: pointer;
  border: 2px solid black;
}

button:hover {
  background-color: #000000;
}
